@charset "UTF-8";
/*This is a reset. There are several ways to do this. Alter as you see fit. This works good for me and is a quick soluion */
*{
	margin:0;
	padding:0;	
}
body {
	background:#FFF;
	font: 14px 'Marcellus', serif;
	line-height: 1.5;	
}
.clearfloat {
	clear:both;
}
a {
	color:#0073b2;
	text-decoration:none;	
}
a:hover {
	color:#2b2b2d;	
}
a img {
	border:none;
}
ul, li {
	list-style-position:inside;
	list-style:none;	
}
h1, h2 , h3, h4, h5, h6 {
	font-weight:400;
	letter-spacing:1px;
}
h1 {
	font: 60px 'Stalemate', cursive;
}
h1 span {
	font:16px 'Marcellus', serif;
	color:#0073b2;
	padding-left:10px;
}
h2 {
	font-size:32px;
}
h3, h4 {
	font-size: 18px;
	text-align:center;
	text-shadow: 1px 1px 1px #0073b2;
}
h4{
	text-align:left;
}
h5 {
	font-size: 16px;
	color:#0073b2;
	margin-bottom:5px;
}


/***** HEADER SECTION *****/
header, .main, footer {
	width:980px;
	margin:0 auto;
}
.main {
	padding:40px 0;
}

#logo {
	float:left;
	padding:20px 0 10px;
}
.contact-info {
	float:right;
	padding:30px 0 10px;
	font-size:18px;
	text-align:center;
	text-shadow: 1px 1px 1px #0073b2;
}
.contact-info img {
	margin:0 5px 10px 0;
}
.linkbutton {
	background:none!important;
	border:none;
	padding:0!important;
	font: inherit;
	/*border is optional*/
	border-bottom:0;
	cursor: pointer;
}


/***** NAVIGATION *****/
nav, .flexslider {
	background: #0073b2; /* Old browsers */
background: -moz-linear-gradient(top, #0073b2 0%, #004793 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0073b2), color-stop(100%,#004793)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #0073b2 0%,#004793 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #0073b2 0%,#004793 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #0073b2 0%,#004793 100%); /* IE10+ */
background: linear-gradient(to bottom, #0073b2 0%,#004793 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0073b2', endColorstr='#004793',GradientType=0 ); /* IE6-9 */
}
.menu {
	width:980px;
	margin:0 auto;	
}
.menu li {
	float:left;
}
.menu li a {
	font-size:14px;
	letter-spacing:1px;
	color:#FFF;
	padding:5px 10px;
	display:block;
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
		  -0-transition:all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;	
}
.menu li a:hover, .menu li a.current {
	background:#FFF;
	color:#2b2b2d;
}



.menu li ul{
  list-style: none;
  margin: 0;
  padding: 0px;
  width: auto;
  height: auto;

}


.menu li ul li {
    display: none;
	float:left;
	background-color:#0073b2;

}
.menu li ul li a {
	font-size:14px;
	letter-spacing:1px;
	color:#FFF;
	padding:5px 10px;
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
		  -0-transition:all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;	
}
.menu li ul li a:hover, .menu li ul li a.current {
	background:#FFF;
	color:#2b2b2d;
}

.menu li a:hover, .menu li ul li{

}



/***** MOBILE NAVIGATION *****/
.mobile-nav select {
	display:none;
	width:300px;
	margin:10px auto;
	padding:10px 0;	
}
/***** FLEXSLIDER *****/
.slider-holder {
	padding-bottom:40px;	
}
.flexslider {
	width:880px;
	-webkit-box-shadow: 0px 8px 10px -8px #000;
	   -moz-box-shadow: 0px 8px 10px -8px #000;
	   	 -o-box-shadow: 0px 8px 10px -8px #000;
			box-shadow: 0px 8px 10px -8px #000;
	-webkit-transform: translate3d(0, 0, 0);
}
.flexslider img {
	width:50%;
	float:left;
}
.flexslider-info {
	width: 400px;
	float: left;
	text-align:center;
	color:#FFF;

}
.flexslider h2 {
	margin:40px 20px 60px;
	font-size: 40px;
}
.flexslider-button button {
	padding:5px 10px;
	margin:20px auto;
	background:#FFF;
	color:#2b2b2d;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.5);
	   -moz-box-shadow: 0 1px 4px rgba(0,0,0,.5);
		 -o-box-shadow: 0 1px 4px rgba(0,0,0,.5);
			box-shadow: 0 1px 4px rgba(0,0,0,.5);
}
.flexslider-button button:hover {
	box-shadow:none;	
}
.page-heading {
	text-align: center;
	margin-bottom:30px;
	background: url(../_img/div-line.png) repeat-x center center;
}
.page-heading span {
	background: #fff;
	padding: 0px 20px;
}
.column-small {
	width:280px;
	height:400px;
	margin:0 40px 20px 0;
	float:left;
	text-align:center
}
.column-small.last {
	margin-right:0;	
}
.column-small img {
	width:auto;
	height:200px;
	margin-bottom:10px;
}
.column-button a, .submit {
	width:80px;
	margin:30px auto;
	padding:10px 20px;
	display:block;
	left: 50%;
	color:#FFF;
	text-align:center;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.5);
	   -moz-box-shadow: 0 1px 4px rgba(0,0,0,.5);
		 -o-box-shadow: 0 1px 4px rgba(0,0,0,.5);
			box-shadow: 0 1px 4px rgba(0,0,0,.5);	
	background: #0073b2; /* Old browsers */
background: -moz-linear-gradient(top, #0073b2 0%, #004793 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0073b2), color-stop(100%,#004793)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #0073b2 0%,#004793 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #0073b2 0%,#004793 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #0073b2 0%,#004793 100%); /* IE10+ */
background: linear-gradient(to bottom, #0073b2 0%,#004793 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0073b2', endColorstr='#004793',GradientType=0 ); /* IE6-9 */
}
.column-button a:hover, .submit:hover {
	box-shadow:none;
	background: #004793; /* Old browsers */
background: -moz-linear-gradient(top, #004793 0%, #0073b2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004793), color-stop(100%,#0073b2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #004793 0%,#0073b2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #004793 0%,#0073b2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #004793 0%,#0073b2 100%); /* IE10+ */
background: linear-gradient(to bottom, #004793 0%,#0073b2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004793', endColorstr='#0073b2',GradientType=0 ); /* IE6-9 */
}
.column-button-s a, .submit {
	width:50px;
	margin:10px auto;
	padding:5px 10px;
	display:block;
	left: 50%;
	color:#FFF;
	text-align:center;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.5);
	   -moz-box-shadow: 0 1px 4px rgba(0,0,0,.5);
		 -o-box-shadow: 0 1px 4px rgba(0,0,0,.5);
			box-shadow: 0 1px 4px rgba(0,0,0,.5);	
	background: #0073b2; /* Old browsers */
background: -moz-linear-gradient(top, #0073b2 0%, #004793 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0073b2), color-stop(100%,#004793)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #0073b2 0%,#004793 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #0073b2 0%,#004793 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #0073b2 0%,#004793 100%); /* IE10+ */
background: linear-gradient(to bottom, #0073b2 0%,#004793 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0073b2', endColorstr='#004793',GradientType=0 ); /* IE6-9 */
}
.column-button-s a:hover, .submit:hover {
	box-shadow:none;
	background: #004793; /* Old browsers */
background: -moz-linear-gradient(top, #004793 0%, #0073b2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004793), color-stop(100%,#0073b2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #004793 0%,#0073b2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #004793 0%,#0073b2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #004793 0%,#0073b2 100%); /* IE10+ */
background: linear-gradient(to bottom, #004793 0%,#0073b2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004793', endColorstr='#0073b2',GradientType=0 ); /* IE6-9 */
}
.pagination {
	width:980px;
	margin-bottom:20px;	
}
.prev {
	float:left;
	background:#FFF;
	padding-right:20px;
}
.next {
	float:right;
	background:#FFF;
	padding-left:20px;
}
/***** FOOTER *****/
.wrapper2 {
	border-top:2px solid #0073b2;
	padding:20px 0;
	background:#f5f5f5;
}
footer {
	font-size:12px;
}
.footer-column {
	width:300px;
	margin:0px 40px 20px 0;
	float:left;
}
.footer-column.last {
	margin-right:0;
	border-bottom:0;
}
.footer-col3 {
	margin-right:0px;
}
.footer-column p {
	padding-top:5px;
}
.left, .right {
	padding:10px 0 10px;
	width:50%;
}
.left {
	float:left;
}
.right {
	float:right;
	text-align:right;
}
/***** TWITTER WIDGET PLACED IN FOOTER *****/
#tweets a {
	color: #0073b2;
}
.tweet_text {
	color: #2b2b2d;
}
.tweet {
	margin: 0;
}
.tweet li {
	padding: 10px 0;
	border-bottom: 1px dotted #0073b2;	
}
/***** SOCIAL SHARING BUTTONS *****/
.gplus {
	width:70px;
	float: left;
	padding: 8px 0 0 0;
	margin-right: 10px;
	-webkit-transform: translate3d(0, 0, 0);
}
.tweet {
	float: left;
	padding: 10px 0 0 0;
	margin-left: 0px;
	margin-right: 10px;
	-webkit-transform: translate3d(0, 0, 0);
}
.fb-like {
	float: left;
	margin-top: 10px;
	margin-right: 5px;
}
/***** CONTACT FORM *****/
.contact-column1 {
	width:75%;
	margin:0 20px 20px 0;
	display:block;
    margin-left: auto;
    margin-right: auto;	
}
.contact-column1 p {
	margin-top:15px;
}
.contact-column1 img {
	margin-right:5px;
}
fieldset{
	padding:20px 10px 40px 10px;
	margin:15px 0 0;
	border: 1px solid #d5d5d5;
	height:auto;
}
fieldset1{
	padding:10px 0;
	margin:5px 0 0;
	float:left;
	height:240px;
}
form {
	width:640px;	
}
label {
	display:block;
	margin:0 0 5px 15px;
	font-size:12px;
}
input {
	width:280px;
	font-size:16px;
	padding:5px;
	display:block;
	margin:0 0 15px 15px;
	border:1px solid #d5d5d5;	
}
textarea {
	width:595px;
	min-height:200px;
	margin:0 0 15px 15px;
	padding:5px;
	font-size:16px;
	border:1px solid #d5d5d5;
}
#AntiSpam {
	width:100px;	
}
.submit {
	border:0;
	margin:5px auto 0;
	padding:10px;
	width:auto;
}
.submit-s {
	border:0;
	margin:2px auto 0;
	padding:5px;
	width:auto;
}

#map_canvas {
	height: 200px;
	width: 200px;
	margin:20px 0 10px;
	border: 2px solid #0073b2;
}
.thank-you-message {
	width:700px;
	margin:50px auto;
	text-align:center;
}
.contact-column2 {
	width:20%;
	margin:0 40px 40px 0;
	display:block;
    float:left;	
}

/***** BLOG *****/
.column-full {
	width:100%;
	float:left;
	margin-left:40px;
}
.column-full h2 {
	line-height:1;
	margin-bottom:20px;	
}
.column-full img {
	width:50%;
	float:right;
	margin-bottom:20px;
}
.column-full p {
	margin-bottom:20px;
}
.column-full table {
	 text-align:center;
	 border:1px;
	 float:left;
}
.column-full table tr td {
	padding:0 15px 0 15px;
}
.column-full form {
	text-align:center;
	border:1px;
	float:left;
}

.column-large {
	width:70%;
	float:right;
	margin-left:40px;
}
.column-large h2 {
	line-height:1;
	margin-bottom:20px;	
}
.column-large img {
	width:50%;
	float:right;
	margin-bottom:20px;
}
.column-large p {
	margin-bottom:20px;
}
.column-large table tr td {
	padding:0 15px 0 15px;
}
.column-large table {
	 text-align:center;
	 border:1px;
}

.column-book {
	width:200px;
	height:250px;
	margin:0 10px 10px 0;
	float:left;
	border:1px solid #d5d5d5;
	text-align:center
}
.column-book.last {
	margin-right:0;	
}
.column-book img {
	width:80px;
	height:auto;
	margin-bottom:5px;
	float:left;
}
.column-book-short {
	width:auto;
	height:150px;
	margin:0 5px 5px 0;
	overflow: hidden;
}
.column-book button, .submit {
	width:60px;
	margin:10px auto;
	padding:5px 10px;
	display:block;
	left: 50%;
	color:#FFF;
	text-align:center;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.5);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.5);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.5);
	box-shadow: 0 1px 4px rgba(0,0,0,.5);
	background: #0073b2; /* Old browsers */
	background: -moz-linear-gradient(top, #0073b2 0%, #004793 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0073b2), color-stop(100%,#004793)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0073b2 0%,#004793 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0073b2 0%,#004793 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0073b2 0%,#004793 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0073b2 0%,#004793 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0073b2', endColorstr='#004793',GradientType=0 ); /* IE6-9 */
}
.column-book button:hover, .submit:hover {
	box-shadow:none;
	background: #004793; /* Old browsers */
	background: -moz-linear-gradient(top, #004793 0%, #0073b2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004793), color-stop(100%,#0073b2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #004793 0%,#0073b2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #004793 0%,#0073b2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #004793 0%,#0073b2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #004793 0%,#0073b2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004793', endColorstr='#0073b2',GradientType=0 ); /* IE6-9 */
}

.side-right {
	float:right;
	width:258px;
	margin-top:20px;
	padding:10px 20px 10px;	
	border:1px solid #d5d5d5;
}
.side-left {
	float:left;
	width:10%;
	margin-top:20px;
	padding:10px 20px 10px;	
	border:1px solid #d5d5d5;
}

.subs {
	padding:10px;
	margin:20px auto;
	background:#0073b2;
	color:#FFF;	
}
.subs span {
	font-size:12px;
	padding-left:15px;
	color:#d5d5d5;	
}

.date, .postee, .category {
	float:left;
	padding:10px 15px 10px 0;
	font-size:12px;	
	display: block;
	padding-left:5px;
}

.category img {
	float:left;
	width:20px;
	margin: 0 10px;
}
.excerpt {
	width:640px;
	padding:20px 0;
	font-size:12px;
}
.read-more, .social {
	font-size:12px;
	font-weight: bold;
	padding:10px 0;
	margin:10px 0 40px;
	border-top: 1px dotted #0073b2;
	border-bottom: 1px dotted #0073b2;
}
.archives a{
	margin:15px 0 ;
	display:block;
	font-size:12px;	
}


