@(message: String)(implicit indexuser: Users)

  @main(title = message)(user = indexuser){
  <div class="main" style="height: 500px; float:none;">

    <div class="side-left">
      <h4><a href="account_bank.html">Bank Account</a></h4>
      <h4><a href="account_cc.html">Credit Card</a></h4>
      <h4><a href="account_paypal.html">Paypal</a></h4>
    </div>

    <div class="column-large">
      <h2 class="page-heading"><span>Paypal Account</span></h2>
      <div class="flexslider-button"><a href="addpaypal.html" style="float:right">Add</a></div>
      <br>
      <table class="clearfloat" style="text-align:center" border="1">

        <tr>
          <td><h5>SN</h5></td>
          <td><h5>Name</h5></td>
          <td><h5>E-mail</h5></td>
          <td><h5>Action</h5></td>
        </tr>

        <tr>
          <td> 00000001 </td>
          <td> Mary Jane </td>
          <td> mjane&#64;albany.edu</td>
          <td>
            <button type="submit" name="editpayment" value="editpayment" > Edit </button>
            <button type="submit" name="deletepayment" value="deletepayment" > Delete </button>
          </td>
        </tr>


      </table>
      <div lass="clearfloat"></div>
    </div>


  </div><!-- end main -->

}
