@(implicit session: play.mvc.Http.Session)


<li><a href="@routes.Account.login()">Profiles</a></li>
@if(session.get("role")=="2"){
    <li><a href="@routes.Products.getInventory()">Inventory</a></li>
    <li><a href="account_transactions.html">Transactions</a></li>
}
@if(session.get("role")=="2" || session.get("role")=="1"){
    <li><a href="@routes.Order.getOrder()">Purchase History</a></li>
    <li><a href="@routes.Bank.getBank()">Payment Options</a></li>
    <li><a href="account_shippingaddress,html">Address</a></li>
}
@if(session.get("role")=="3"){
    <li><a href="admin_book.html">All Books</a></li>
    <li><a href="admin_order.html">All Orders</a></li>
    <li><a href="admin_user.htm.">All Users</a></li>
}
<li><a href="/contract">Messages</a></li>

