@(message: String)(implicit session: play.mvc.Http.Session)

  @main(title = message)(session){
  <div class="main" style="height: 500px; float:none;">

    <div class="side-left">
      <h4><a href="account_inventory.html">Inventory</a></h4>
      <h4><a href="account_currenttransactions.html">Current Transactions</a></h4>
      <h4><a href="account_transactionhistory.html">Transaction History</a></h4>
      <h4><a href="account_profile.html">Profile</a></h4>
      <h4><a href="account_order.html">Purchase History</a></h4>
      <h4><a href="account_orderstatus.html">Order Status</a></h4>
      <h4><a href="account_bank.htm.">Payment Options</a></h4>
      <h4><a href="account_shippingaddress,html">Address</a></h4>
    </div>
    <div class="column-large">
      <h2 class="page-heading"><span>User Profile</span></h2>

      <p style="height: 100px"><img src="@routes.Assets.at("public/images/user.png") style="float:left; height:auto; width:100px" /></p>
      <p><button type="submit" name="updateaccount" value="updateaccount"> Update </button></p>

      <table class="clearfloat" style="text-align:left">
        <tr>
          <td>First Name:</td>
          <td>Mary</td>
        </tr>

        <tr>
          <td>Last Name:</td>
          <td>Jane</td>
        </tr>

        <tr>
          <td>Username:</td>
          <td>mary456</td>
        </tr>

        <tr>
          <td>Date of Birth:</td>
          <td>01/01/1990</td>
        </tr>

        <tr>
          <td>Phone Number:</td>
          <td>518-123-4567</td>
        </tr>

        <tr>
          <td>E-mail Address:</td>
          <td>mjane&#64;albany.edu</td>
        </tr>

        <tr>
          <td>Address:</td>
          <td>1400 Washington Ave<br>University at Albany<br>
            Chemistry Department<br>Albany, NY 12203</td>
        </tr>

      </table>
      <div lass="clearfloat"></div>
    </div>

  </div><!-- end main -->
}
