@(implicit user: Users)


                <h2 class="page-heading"><span>User Profile</span></h2>

                <p style="height : 100 px"><img src="@routes.Assets.at("images/user.png")" style="float : left ; height : auto ; width : 100px" /></p>
                <form name="update" method="get" action="@routes.UpdateUser.update()">
                    <button type="submit" name="update" value="update"> Update </button>
                </form>

                <table class="clearfloat" style="text-align : left">
                    <tr>
                        <td>First Name:</td>
                        <td>@user.fname</td>
                    </tr>

                    <tr>
                        <td>Last Name:</td>
                        <td>@user.lname</td>
                    </tr>

                    <tr>
                        <td>Username:</td>
                        <td>@user.uname</td>
                    </tr>

                    <tr>
                        <td>Account created on:</td>
                        <td>@user.cdate</td>
                    </tr>

                    <tr>
                        <td>Phone Number:</td>
                        <td>@user.mob</td>
                    </tr>

                    <tr>
                        <td>E-mail Address:</td>
                        <td>@user.email</td>
                    </tr>

                    <tr>
                        <td>Address:</td>
                        <td>@user.address</td>
                    </tr>

                </table>
                <div lass="clearfloat"></div>


