@(message: String)(booklist: java.util.ArrayList[Books])(implicit session: play.mvc.Http.Session)

@main(title = message)(session){
    <div class="main" style="height: 500px; float:none;">
    @if(session.get("username") == null) {
        <h2>@message</h2> <br>
        <form action="@routes.Account.dologin()" method="post" style="width: 250px; height: 70px; float: none;">
            <input type="text" placeholder="username" name="uname" style="height: 15px; width: 150px;" />
            <input type="password" placeholder="password" name="password" style="height: 15px; width: 150px;" />
            <button type="submit" name="login" value="login" style="margin-left:10%; height: 25px; width: 70px; border: 0px;"><img src="@routes.Assets.at("images/login-button.png")" height="25" width="70" /></button>
            <a href="@routes.Account.register()" style="height: 25px; width: 70px; border: 0px;"><img src="@routes.Assets.at("images/register-button.png")" height="25" width="70" /></a>
            <br>
            <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">@Messages("")</a>
        </form>
    }else{
        <div class="side-left">
        @account_sider(session)
        </div>
        <div class="column-large">
            <h3 class="page-heading"><span>@message</span></h3>
            <br>
            @if(booklist.size() > 0){
                <table style="text-align : center" border="1px">
                    <tr>
                        <td><h5>Picture</h5></td>
                        <td><h5>Title</h5></td>
                        <td><h5>Author</h5></td>
                        <td><h5>ISBN</h5></td>
                        <td><h5>Price</h5></td>
                        <td><h5>Shipping Fee</h5></td>
                        <td><h5>Stock</h5></td>
                        <td><h5>Action</h5></td>
                    </tr>
                    @for(book <- booklist) {
                        <tr>
                            <td>
                                <img src="@routes.Assets.at("images/productpics/" + book.id.toHexString() + ".jpg")" alt="Book Cover" style="width:40px; height:auto;">
                                <form method="get" action="@routes.Products.upload()" style="width:30px">
                                    <input type="hidden" name="bookid" value=@book.id.toHexString >
                                    <button type="submit"> Change </button>
                                </form>
                            </td>
                            <td> @book.title </td>
                            <td> @book.authors </td>
                            <td> @book.isbn </td>
                            <td> $@book.price </td>
                            <td> $@book.shippingfee </td>
                            <td> @book.stock </td>
                            <td>
                                <form method="post" action="@routes.Products.update()" style="width:30px">
                                    <input type="hidden" name="id" value=@book.id.toHexString >
                                    <button type="submit"> Edit </button>
                                </form>
                                <form method="post" action="@routes.Products.delete()" style="width:30px">
                                    <input type="hidden" name="id" value=@book.id.toHexString>
                                    <button type="submit"> Delete </button>
                                </form>
                            </td>

                        </tr>
                    }


                </table>
            }
            <div class="column-button-s"><a href="@routes.Products.add()" style="float:right">Add</a></div>
            <div lass="clearfloat"></div>
        </div>
    }
    </div><!-- end main -->

}
