@(message: String)(implicit indexuser: Users)

  @main(title = message)(user = indexuser){
  <div class="main" style="height: 500px; float:none;">

    <div class="side-left">
      <h4><a href="account_inventory.html">Inventory</a></h4>
      <h4><a href="account_transactions.html">Current Transactions</a></h4>
      <h4><a href="account_transactionhistory.html">Transaction History</a></h4>
      <h4><a href="account_profile.html">Profile</a></h4>
      <h4><a href="account_order.html">Purchase History</a></h4>
      <h4><a href="account_orderstatus.html">Order Status</a></h4>
      <h4><a href="account_bank.html">Payment Options</a></h4>
      <h4><a href="account_shippingaddress.html">Address</a></h4>
    </div>

    <div class="column-large">
      <h2 class="page-heading"><span>Current Transactions</span></h2>
      <table class="clearfloat" style="text-align:center" border="1px">

        <tr>
          <td><h5>SN</h5></td>
          <td><h5>Order</h5></td>
          <td><h5>Order Date</h5></td>
          <td><h5>Quantity</h5></td>
          <td><h5>Amount</h5></td>
          <td><h5>Status</h5></td>
          <td><h5>Action</h5></td>
        </tr>

        <tr>
          <td> 00000001 </td>
          <td> Textbook A </td>
          <td> 04/01/2015 </td>
          <td> 1 </td>
          <td> $30 </td>
          <td> waiting for payment </td>
          <td> <button type="submit" name="cancelorder" value="cancelorder" > Cancel </button> </td>
        </tr>


      </table>
      <div lass="clearfloat"></div>
    </div>


  </div><!-- end main -->

}
