@(message: String)(implicit indexuser: Users)

    @main(title = message)(user = indexuser){
    <div class="main" style="height: 500px; float:none;">

        @if(indexuser.uname == null) {

            <h2>@message</h2> <br>
            <form action="@routes.Account.dologin()" method="post" style="width: 250px; height: 70px; float: none;">
                <input type="text" placeholder="username" name="uname" style="height: 15px; width: 150px;" />
                <input type="password" placeholder="password" name="password" style="height: 15px; width: 150px;" />
                <button type="submit" name="login" value="login" style="margin-left:10%; height: 25px; width: 70px; border: 0px;"><img src="@routes.Assets.at("images/login-button.png")" height="25" width="70" /></button>
                <a href="@routes.Account.register()" style="height: 25px; width: 70px; border: 0px;"><img src="@routes.Assets.at("images/register-button.png")" height="25" width="70" /></a>
                <br>
                <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">@Messages("")</a>
            </form>
        }else{
            <div class="side-left">
                @if(indexuser.role.size()==2){
                    <a href="account_inventory.html">Inventory</a><br>
                    <a href="account_currenttransactions.html">Current Transactions</a><br>
                    <a href="account_transactionhistory.html">Transaction History</a><br>
                }
                <a href="@routes.Account.login()">Profile</a><br>
                <a href="account_order.html">Purchase History</a><br>
                <a href="account_orderstatus.html">Order Status</a><br>
                <a href="account_bank.htm.">Payment Options</a><br>
                <a href="account_shippingaddress,html">Address</a><br>
            </div>
            <div class="column-large">
            @account_profile(indexuser)
            </div>
        }
    </div><!-- end main -->

}
