@(message: String)
  @main(title = message)(loginbox = views.html.login_box.render()){
  <div class="main" style="height: 500px; float:none;">

    <div class="side-left">
      <h4><a href="account_inventory.html">Inventory</a></h4>
      <h4><a href="account_currenttransactions.html">Current Transactions</a></h4>
      <h4><a href="account_transactionhistory.html">Transaction History</a></h4>
      <h4><a href="account_profile.html">Profile</a></h4>
      <h4><a href="account_order.html">Purchase History</a></h4>
      <h4><a href="account_orderstatus.html">Order Status</a></h4>
      <h4><a href="account_bank.html">Payment Options</a></h4>
      <h4><a href="account_shippingaddress.html">Address</a></h4>
    </div>

    <div class="column-large">
      <h2 class="page-heading"><span>Inventory</span></h2>
      <div class="flexslider-button"><a href="addpaypal.html" style="float:right">Add</a></div>	<br>
      <table class="clearfloat" style="text-align:center" border="1px">

        <tr>
          <td style="padding:0 15px 0 15px;"><h5>SN</h5></td>
          <td style="padding:0 15px 0 15px;"><h5>Title</h5></td>
          <td style="padding:0 15px 0 15px;"><h5>Author</h5></td>
          <td style="padding:0 15px 0 15px;"><h5>ISBN</h5></td>
          <td style="padding:0 15px 0 15px;"><h5>Price</h5></td>
          <td style="padding:0 15px 0 15px;"><h5>Shipping Fee</h5></td>
          <td style="padding:0 15px 0 15px;"><h5>Stock</h5></td>
          <td style="padding:0 15px 0 15px;"><h5>Action</h5></td>
        </tr>

        <tr>
          <td> 00000001 </td>
          <td> Algorithm </td>
          <td> Willard </td>
          <td> 123456789 </td>
          <td> $30 </td>
          <td> $5 </td>
          <td> 10 </td>
          <td>
            <button type="submit" name="editpayment" value="editpayment" > Edit </button>
            <button type="submit" name="deletepayment" value="deletepayment" > Delete </button>
          </td>
        </tr>


      </table>
      <div lass="clearfloat"></div>
    </div>


  </div><!-- end main -->

}
