@(message: String)
  @main(title = message)(loginbox = views.html.login_box.render()){
  <div class="main" style="height: 500px; float:none;">

    <div class="side-left">
      <h4><a href="account_shippingaddress.html">Shipping Address</a></h4>
      <h4><a href="account_billingaddress.html">Billing Address</a></h4>
    </div>

    <div class="column-large">
      <h2 class="page-heading"><span>Shipping Address</span></h2>
      <div class="flexslider-button"><a href="addshipping.html" style="float:right">Add</a></div>
      <br>
      <table class="clearfloat" style="text-align:center" border="1">

        <tr>
          <td style="padding:0 15px 0 15px;"><h5>SN</h5></td>
          <td style="padding:0 15px 0 15px;"><h5>Name</h5></td>
          <td style="padding:0 15px 0 15px;"><h5>Phone</h5></td>
          <td style="padding:0 15px 0 15px;"><h5>Street</h5></td>
          <td style="padding:0 15px 0 15px;"><h5>City</h5></td>
          <td style="padding:0 15px 0 15px;"><h5>State</h5></td>
          <td style="padding:0 15px 0 15px;"><h5>Zipcode</h5></td>
          <td style="padding:0 15px 0 15px;"><h5>Action</h5></td>
        </tr>

        <tr>
          <td> 00000001 </td>
          <td> Mary Jane</td>
          <td> 518-123-4567</td>
          <td> 1400 Washington Ave</td>
          <td> Albany</td>
          <td> NY</td>
          <td> 12222</td>
          <td>
            <button type="submit" name="editpayment" value="editpayment" > Edit </button>
            <button type="submit" name="deletepayment" value="deletepayment" > Delete </button>
          </td>
        </tr>


      </table>
      <div lass="clearfloat"></div>
    </div>


  </div><!-- end main -->

}
