@(message: String)
    @main(title = message)(loginbox = views.html.login_box.render()){
    <div class="main" style="height: 600px; float:none;">
        <div class="contact-column1">
            <form name="register" method="post" action="@routes.Account.register()" style="float:left" >

                <h2 class="page-heading"><span>Register</span></h2>
                <fieldset>
                    <fieldset1>
                        <label class="required"><span class="required_star"> * </span>Username</label>
                        <input type="text" name="uname"maxlength="40">

                        <label class="required"><span class="required_star"> * </span>Password</label>
                        <input type="password" name="password"maxlength="40">

                        <label class="required"><span class="required_star"> * </span>Confirm Password</label>
                        <input type="password" name="cpwd" maxlength="40">
                    </fieldset1>

                    <fieldset1>
                        <label class="required"><span class="required_star"> * </span>First Name</label>
                        <input type="text" name="fname" maxlength="40">

                        <label class="required"><span class="required_star"> * </span>Last Name</label>
                        <input type="text" name="lname"maxlength="40">

                        <label class="required"><span class="required_star"> * </span>Phone Number</label>
                        <input type="tel" name="mob" maxlength="40">
                        <label class="required"><span class="required_star"> * </span>E-mail</label>
                        <input type="email" name="email" maxlength="40">
                    </fieldset1>
                    <input type="submit" class="submit" value="Register" style="float:left">

                </fieldset>
            </form>
        </div><!-- end contact-column1 -->

    </div><!-- end main -->
}