@(message: String)(implicit indexuser: Users)

  @main(title = message)(user = indexuser){
  <div class="main" style="height: 600px; float:none;">
  <div class="side-left">
    <h4><a href="account_bank.html">Bank Account</a></h4>
    <h4><a href="account_cc.html">Credit Card</a></h4>
    <h4><a href="account_paypal.html">Paypal</a></h4>
  </div>

  <div class="column-large">
    <br><h2 class="page-heading"><span>Add Bank Account</span></h2>

    <form name="addbank" method="post" action="" >
      <div class="contact-column1">
        <fieldset>
          <label class="required"><span class="required_star"> * </span>Name on Account</label>
          <input type="text" name="name" maxlength="40">

          <label class="required"><span class="required_star"> * </span>Account Type</label>
          <select name="acctype" style="margin-left:5%; width: 280px; height: 30px">
            <option value="checking">Checking Account</option>
            <option value="saving">Saving Account</option>
          </select>
          <label class="required"><span class="required_star"> * </span>Routing Number</label>
          <input type="number" name="routing" maxlength="40">

          <label class="required"><span class="required_star"> * </span>Account Number</label>
          <input type="number" name="acc" maxlength="40">

          <label class="required"><span class="required_star"> * </span>Flow</label>
          <input type="number" name="flow" maxlength="40">

          <label class="required"><span class="required_star"> * </span>Billing Address</label>
          <input type="text" name="billaddr" maxlength="255">

          <input type="submit" class="submit" value="ADD" style="float:left">
        </fieldset>
      </div><!-- end freecontactform -->

    </form>
    <div lass="clearfloat"></div>
  </div><!-- end column-large -->
  </div><!-- end main -->
}