@(message: String)
  @main(title = message)(loginbox = views.html.login_box.render()){
  <div class="main" style="height: 500px; float:none;">

    <div class="side-left">
      <h4><a href="account_bank.html">Bank Account</a></h4>
      <h4><a href="account_cc.html">Credit Card</a></h4>
      <h4><a href="account_paypal.html">Paypal</a></h4>
    </div>

    <div class="column-large">
      <h2 class="page-heading"><span>Add Credit Card</span></h2>

      <form name="addcreditcard" method="post" action="addcreditcard.java" >
        <div class="contact-column1">
          <fieldset>
            <label class="required"><span class="required_star"> * </span>Name on Card</label>
            <input type="text" name="nameonpayment" title="nameonpayment" id="nameonpayment" maxlength="40">
            <label class="required"><span class="required_star"> * </span>Expire Date (mm/dd/yyyy)</label>
            <input type="text" name="expiredate" title="expiredate" id="expiredate" maxlength="10">
            <label class="required"><span class="required_star"> * </span>Card Number</label>
            <input type="text" name="creditcardnumber" title="creditcardnumber" id="creditcardnumber" maxlength="40">
            <input type="submit" class="submit" value="ADD" style="float:left">
          </fieldset>
        </div>
      </form>

      <div lass="clearfloat"></div>
    </div>


  </div><!-- end main -->

}
