@(message: String)(implicit indexuser: Users)

  @main(title = message)(user = indexuser){
  <div class="main" style="height: 500px; float:none;">

    <div class="side-left">
      <h4><a href="account_bank.html">Bank Account</a></h4>
      <h4><a href="account_cc.html">Credit Card</a></h4>
      <h4><a href="account_paypal.html">Paypal</a></h4>
    </div>

    <div class="column-large">
      <h2 class="page-heading"><span>Add Paypal</span></h2>

      <form name="addpaypal" method="post" action="addpaypal.php" >
        <div class="contact-column1">
          <fieldset>
            <label class="required"><span class="required_star"> * </span>Name on Account</label>
            <input type="text" name="nameonpayment" title="nameonpayment" id="nameonpayment" maxlength="40">
            <label class="required"><span class="required_star"> * </span>E-mail Address</label>
            <input type="text" name="paypalemail" title="paypalemail" id="paypalemail" maxlength="40">
            <input type="submit" class="submit" value="ADD" style="float:left">
          </fieldset>
        </div><!-- end freecontactform -->
      </form>
      <div lass="clearfloat"></div>
    </div>


  </div><!-- end main -->

}
