@(message: String)

@main(title = message)(loginbox = views.html.login_box.render()){
    <div class="main" style="height: 800px; float:none;">


        <div class="contact-column1">

            <form method="post" action="@routes.Products.doAdd()">

                <h2 class="page-heading"><span>List Textbook</span></h2>
                <fieldset>
                    <div style="float:left">
                        <label class="required"><span class="required_star"> * </span>Category</label>
                        <select name="category" style="margin-left:5%; width: 280px; height: 30px">
                            <option value="1">Category 1</option>
                            <option value="2">Category 2</option>
                            <option value="3">Category 3</option>
                            <option value="4">Category 4</option>
                            <option value="5">Category 5</option>
                            <option value="6">Category 6</option>
                            <option value="7">Category 7</option>
                            <option value="8">Category 8</option>
                        </select>
                        <label class="required"><span class="required_star"> * </span>Title</label>
                        <input type="text" name="title" maxlength="80">

                        <label class="required"><span class="required_star"> * </span>Authors</label>
                        <input type="text" name="authors" maxlength="40">

                        <label class="required"><span class="required_star"> * </span>ISBN</label>
                        <input type="text" name="isbn" maxlength="40">

                        <label class="required"><span class="required_star"> * </span>Price</label>
                        <input type="number" name="price" maxlength="40">
                    </div>
                    <div style="float:left">
                        <label class="required"><span class="required_star"> * </span>Stock</label>
                        <input type="number" name="stock" maxlength="20">

                        <label class="required"><span class="required_star"> * </span>Year</label>
                        <input type="number" name="year" maxlength="40">

                        <label class="required"><span class="required_star"> * </span>Edition</label>
                        <input type="number" name="edtion" maxlength="40">

                        <lable class="required"><span class="required_star">&nbsp;&nbsp;  * </span>Book Picture</lable>
                        <input type="file" name="pic" accept="image/*" style="height: 30px">
                    </div>
                    <div class="clearfloat"></div>
                    <label class="required" ><span class="required_star"> * </span>Description</label>

                    <textarea name="description" maxlength="2000" height="80"></textarea>

                    <input type="submit" class="submit" value="ADD" style="float:left">
                </fieldset>
            </form>

        </div>


    </div><!-- end main -->
}