@(message: String)(implicit indexuser: Users)

  @main(title = message)(user = indexuser){
  <div class="main" style="height: 800px; float:none;">


    <div class="contact-column1">

      <form name="addshipping" method="post" action="addshipping.java" >

        <h2 class="page-heading"><span>Add Shipping Address</span></h2>
        <fieldset>
          <label class="required"><span class="required_star"> * </span>First Name</label>
          <input type="text" name="firstname" title="firstname" id="firstname" maxlength="40">

          <label class="required"><span class="required_star"> * </span>Last Name</label>
          <input type="text" name="firstname" title="firstname" id="firstname" maxlength="40">

          <label class="required"><span class="required_star"> * </span>Phone Number</label>
          <input type="text" name="phone" title="phone" id="phone" maxlength="40">

          <label class="required">Shipping Address:</label>
          <label class="required"><span class="required_star"> * </span>Street</label>
          <input type="text" name="street" title="street" id="street" maxlength="40">
          <label class="required"><span class="required_star"> * </span>City</label>
          <input type="text" name="city" title="city" id="city" maxlength="40">
          <label class="required"><span class="required_star"> * </span>State</label>
          <input type="text" name="state" title="state" id="state" maxlength="40">
          <label class="required"><span class="required_star"> * </span>Zipcode</label>
          <input type="text" name="zipcode" title="zipcode" id="zipcode" maxlength="40">

          <input type="submit" class="submit" value="ADD" style="float:left">
        </fieldset>
      </form>
    </div>


  </div><!-- end main -->
}
