@(message: String)(implicit session: play.mvc.Http.Session)

@main(title = message)(session){
    <div class="main" style="height: 800px; float:none;">


        <div class="contact-column1">
            <h2 class="page-heading"><span>@message</span></h2>

            <fieldset>

                <form method="post" action="@routes.Account.doupload()" enctype="multipart/form-data">
                    <input type="file" name="picture" accept="image/*" style="height: 30px">
                    <input type="submit" class="submit" value="Upload" style="float:left;width:auto;">
                </form>

            </fieldset>


        </div>


    </div><!-- end main -->
}