@(message: String)(userlist: java.util.ArrayList[Users])(implicit session: play.mvc.Http.Session)

  @main(title = message)(session){
  <div class="main" style="height: 500px; float:none;">

  @if(session.get("username") == null) {

    <h2>@message</h2> <br>
    <form action="@routes.Account.dologin()" method="post" style="width: 250px; height: 70px; float: none;">
      <input type="text" placeholder="username" name="uname" style="height: 15px; width: 150px;" />
      <input type="password" placeholder="password" name="password" style="height: 15px; width: 150px;" />
      <button type="submit" name="login" value="login" style="margin-left:10%; height: 25px; width: 70px; border: 0px;"><img src="@routes.Assets.at("images/login-button.png")" height="25" width="70" /></button>
      <a href="@routes.Account.register()" style="height: 25px; width: 70px; border: 0px;"><img src="@routes.Assets.at("images/register-button.png")" height="25" width="70" /></a>
      <br>
      <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">@Messages("")</a>
    </form>
  }else{
    <div class="side-left">
    @account_sider(session)
    </div>
    <div class="column-large">
      <h3 class="page-heading"><span>@message</span></h3>
      <br>
      @if(userlist.size() > 0){
        <table style="text-align : center" border="1px">
          <tr>
            <td><h5>User ID</h5></td>
            <td><h5>User Name</h5></td>
            <td><h5>First Name</h5></td>
            <td><h5>Last Name</h5></td>
            <td><h5>Phone</h5></td>
            <td><h5>E-mail</h5></td>
            <td><h5>Created on</h5></td>
            <td><h5>Action</h5></td>
          </tr>
          @for(user <- userlist) {
            <tr>

              <td> @user.id.toString </td>
              <td> @user.uname </td>
              <td> @user.fname </td>
              <td> @user.lname </td>
              <td> @user.mob </td>
              <td> @user.email </td>
              <td> @user.cdate </td>
              <td>
                <form method="post" action="" style="width:30px">
                  <input type="hidden" name="userid" value=@user.id.toHexString >
                  <button type="submit"> Edit </button>
                </form>
                <form method="post" action="" style="width:30px">
                  <input type="hidden" name="userid" value=@user.id.toHexString>
                  <button type="submit"> Delete </button>
                </form>
                <form method="get" action="@routes.Contacts.contact()" style="width:30px">
                  <input type="hidden" name="receiver" value=@user.uname>
                  <button type="submit"> Contact </button>
                </form>
              </td>

            </tr>
          }


        </table>
      }else{
        <h2>No user found!</h2>
      }

      <div lass="clearfloat"></div>
    </div>
  }
  </div><!-- end main -->

}