@(message: String)
  @main(title = message)(loginbox = views.html.login_box.render()){
  <div class="main">

    <div class="side-left">
      <h4>CATEGORIES</h4>
      <div class="archives">
        <a href="#">Category 1</a>
        <a href="#">Category 2</a>
        <a href="#">Category 3</a>
        <a href="#">Category 5</a>
        <a href="#">Category 6</a>
        <a href="#">Category 7</a>
        <a href="#">Category 8</a>
      </div><!-- end archives -->
      <h4><a href="#">ADVANCED SEARCH</a></h4>
    </div><!-- end headline -->

    <div class="column-large">

      <h3 class="page-heading"><span>BOOK DETAILS</span></h3>

      <div class="postee">Author aaaaaaaaaaaaaaaaaaaaaa</div>
      <div class="date">ISBN 5555555555</div>
      <div class="date">Price</div>
      <div class="date">Seller bbbbbbbbbbbbb</div>
      <div class="category"><img src="_img/_icons/icon-tags.png" width="20" height="20"><a href="#">Category 1</a></div>

      <div class="clearfloat"></div>

      <a href="#" class="thumbs"><img src="_img/_slides/5625_wpm_hires.jpg" alt="Book image"></a>
      <h3>BOOK TITLE</h3>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>

      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>

      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>

    </div>


    <div class="clearfloat">
      <form action="addToCart.java" method="post" >
        <input type="submit" class="submit" value="BUY" style="">
      </form>
    </div>
  </div><!-- end main -->


}
