@(message: String)(implicit indexuser: Users)

  @main(title = message)(user = indexuser){
  <div class="main" style="height: 500px; float:none;">

    <div class="column-full">
      <div><h2 class="page-heading"><span>Your Shopping Cart</span></h2></div>

      <form style="float:left">
        <table style="text-align:center" border="1">
          <tr>
            <td><h5>SN</h5></td>
            <td><h5>Item</h5></td>
            <td><h5>Quantity</h5></td>
            <td><h5>Price</h5></td>
            <td><h5>Delete</h5></td>
          </tr>

          <tr>
            <td>001</td>
            <td>Textbook Name</td>
            <td> <input type="text" name="itemquantity" placeholder="1" style="width: 30px"> </td>
            <td> $30.00</td>
            <td> <input type="checkbox" style="width: 30px"> </td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Subtotal</td>
            <td>$30.00</td>
          </tr>


          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Tax</td>
            <td>$2.40</td>
          </tr>


          <tr>
            <td>
            </td>
            <td>
              <button type="submit" name="updatecart" value="updatecart" > Update </button>
              <button type="submit" name="clearcart" value="clearcart" > Clear </button>
            </td>
            <td></td>
            <td>Total</td>
            <td>$32.40</td>
          </tr>
        </table>
        <input type="submit" class="submit" value="CHECKOUT" style="float:left">

      </form>
    </div> <!-- end column-full -->


  </div><!-- end main -->

}
