@(implicit session: play.mvc.Http.Session)

<li>
    <form action="@routes.Search.getbooks()" method="post">
        <input name="category" type=hidden value="1">
        <button type="submit" class="linkbutton">Category 1</button>
    </form>
</li>
<li>
    <form action="@routes.Search.getbooks()" method="post">
        <input name="category" type=hidden value="2">
        <button type="submit" class="linkbutton">Category 2</button>
    </form>
</li>
<li>
    <form action="@routes.Search.getbooks()" method="post">
        <input name="category" type=hidden value="3">
        <button type="submit" class="linkbutton">Category 3</button>
    </form>
</li>
<li>
    <form action="@routes.Search.getbooks()" method="post">
        <input name="category" type=hidden value="4">
        <button type="submit" class="linkbutton">Category 4</button>
    </form>
</li>
<li>
    <form action="@routes.Search.getbooks()" method="post">
        <input name="category" type=hidden value="5">
        <button type="submit" class="linkbutton">Category 5</button>
    </form>
</li>
<li>
    <form action="@routes.Search.getbooks()" method="post">
        <input name="category" type=hidden value="6">
        <button type="submit" class="linkbutton">Category 6</button>
    </form>
</li>
<li>
    <form action="@routes.Search.getbooks()" method="post">
        <input name="category" type=hidden value="7">
        <button type="submit" class="linkbutton">Category 7</button>
    </form>
</li>
<li>
    <form action="@routes.Search.getbooks()" method="post">
        <input name="category" type=hidden value="8">
        <button type="submit" class="linkbutton">Category 8</button>
    </form>
</li>

