@(implicit session: play.mvc.Http.Session)

<li>
    <form action="@routes.Search.getbooks()" method="post">
        <input name="category" type=hidden value="Art">
        <button type="submit" class="linkbutton">Art</button>
    </form>
</li>
<li>
    <form action="@routes.Search.getbooks()" method="post">
        <input name="category" type=hidden value="Computer Science">
        <button type="submit" class="linkbutton">Computer Science</button>
    </form>
</li>
<li>
    <form action="@routes.Search.getbooks()" method="post">
        <input name="category" type=hidden value="Mathematics">
        <button type="submit" class="linkbutton">Mathematics</button>
    </form>
</li>
<li>
    <form action="@routes.Search.getbooks()" method="post">
        <input name="category" type=hidden value="Law">
        <button type="submit" class="linkbutton">Law</button>
    </form>
</li>
<li>
    <form action="@routes.Search.getbooks()" method="post">
        <input name="category" type=hidden value="Health Science">
        <button type="submit" class="linkbutton">Health Science</button>
    </form>
</li>
<li>
    <form action="@routes.Search.getbooks()" method="post">
        <input name="category" type=hidden value="Natural Science">
        <button type="submit" class="linkbutton">Natural Science</button>
    </form>
</li>
<li>
    <form action="@routes.Search.getbooks()" method="post">
        <input name="category" type=hidden value="Social Science">
        <button type="submit" class="linkbutton">Social Science</button>
    </form>
</li>
<li>
    <form action="@routes.Search.getbooks()" method="post">
        <input name="category" type=hidden value="Others">
        <button type="submit" class="linkbutton">Others</button>
    </form>
</li>

