@(message: String)
@loginbox = {
  <form action="@routes.Account.login()" method="post" style="width: 250px; position: relative; left: 0px; top: 0px; height: 70px;">
    <div style="overflow: hidden;">
      <button type="submit" name="login" value="login" style="float: right; height: 25px; width: 70px; border: 0px;"><img src="@routes.Assets.at("images/login-button.png")" height="25" width="70" /></button>
      <input type="text" placeholder="username" name="uname" style="position: relative; left: 0px; right: 0px; top: 0px; height: 15px; width: 150px;" />
    </div>
    <div style="overflow: hidden;">
      <a href="/register" style="float: right; height: 25px; width: 70px; border: 0px;"><img src="@routes.Assets.at("images/register-button.png")" height="25" width="70" /></a>
      <input type="password" placeholder="password" name="password" style="position: relative; left: 0px; right: 0px; top: 0px; height: 15px; width: 150px;" />
    </div>
  </form>
  <div style="height: 20px"> <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">@Messages("playauthenticate.login.forgot.password")</a> </div>
}
@main(title = "Bank Accounts")(loginbox){
  <div class="main">

    <div class="side-left">
      <h4>CATEGORIES</h4>
      <div class="archives">
        <a href="#">Category 1</a>
        <a href="#">Category 2</a>
        <a href="#">Category 3</a>
        <a href="#">Category 5</a>
        <a href="#">Category 6</a>
        <a href="#">Category 7</a>
        <a href="#">Category 8</a>
      </div><!-- end archives -->
      <h4><a href="categories_search.html">ADVANCED SEARCH</a></h4>
    </div><!-- end side-left -->

    <div class="column-large">

      <div class="column-book">
        <h5>Database Systems: The Complete Book</h5>
        <div class="column-book-short">
          <a href="project1.html" class="thumbs"><img src="_img/_slides/5640_wpm_hires.jpg" alt="ALT TEXT HERE"></a>
          A short description of the textbook will be placed here. <br>
        </div>
        <div class="column-button-s">
          <a href="categories_book.html" title="Portfolio">Details</a>
        </div><!-- end column-button-s -->
      </div><!-- end column-book -->

      <div class="column-book">
        <h5>Database Systems: The Complete Book</h5>
        <div class="column-book-short">
          <a href="project1.html" class="thumbs"><img src="_img/_slides/5640_wpm_hires.jpg" alt="ALT TEXT HERE"></a>
          A short description of the textbook will be placed here. <br>
        </div>
        <div class="column-button-s">
          <a href="project1.html" title="Portfolio">Details</a>
        </div><!-- end column-button-s -->
      </div><!-- end column-book -->

      <div class="column-book">
        <h5>Database Systems: The Complete Book</h5>
        <div class="column-book-short">
          <a href="project1.html" class="thumbs"><img src="_img/_slides/5640_wpm_hires.jpg" alt="ALT TEXT HERE"></a>
          A short description of the textbook will be placed here. <br>
        </div>
        <div class="column-button-s">
          <a href="project1.html" title="Portfolio">Details</a>
        </div><!-- end column-button-s -->
      </div><!-- end column-book -->

      <div class="column-book">
        <h5>Database Systems: The Complete Book</h5>
        <div class="column-book-short">
          <a href="project1.html" class="thumbs"><img src="_img/_slides/5640_wpm_hires.jpg" alt="ALT TEXT HERE"></a>
          A short description of the textbook will be placed here. <br>
        </div>
        <div class="column-button-s">
          <a href="project1.html" title="Portfolio">Details</a>
        </div><!-- end column-button-s -->
      </div><!-- end column-book -->

      <div class="column-book">
        <h5>Database Systems: The Complete Book</h5>
        <div class="column-book-short">
          <a href="project1.html" class="thumbs"><img src="_img/_slides/5640_wpm_hires.jpg" alt="ALT TEXT HERE"></a>
          A short description of the textbook will be placed here. <br>
        </div>
        <div class="column-button-s">
          <a href="project1.html" title="Portfolio">Details</a>
        </div><!-- end column-button-s -->
      </div><!-- end column-book -->
      <div class="column-book">
        <h5>Database Systems: The Complete Book</h5>
        <div class="column-book-short">
          <a href="project1.html" class="thumbs"><img src="_img/_slides/5640_wpm_hires.jpg" alt="ALT TEXT HERE"></a>
          A short description of the textbook will be placed here. <br>
        </div>
        <div class="column-button-s">
          <a href="project1.html" title="Portfolio">Details</a>
        </div><!-- end column-button-s -->
      </div><!-- end column-book -->
      <div class="column-book">
        <h5>Database Systems: The Complete Book</h5>
        <div class="column-book-short">
          <a href="project1.html" class="thumbs"><img src="_img/_slides/5640_wpm_hires.jpg" alt="ALT TEXT HERE"></a>
          A short description of the textbook will be placed here. <br>
        </div>
        <div class="column-button-s">
          <a href="project1.html" title="Portfolio">Details</a>
        </div><!-- end column-button-s -->
      </div><!-- end column-book -->
      <div class="column-book">
        <h5>Database Systems: The Complete Book</h5>
        <div class="column-book-short">
          <a href="project1.html" class="thumbs"><img src="_img/_slides/5640_wpm_hires.jpg" alt="ALT TEXT HERE"></a>
          A short description of the textbook will be placed here. <br>
        </div>
        <div class="column-button-s">
          <a href="project1.html" title="Portfolio">Details</a>
        </div><!-- end column-button-s -->
      </div><!-- end column-book -->
      <div class="column-book">
        <h5>Database Systems: The Complete Book</h5>
        <div class="column-book-short">
          <a href="project1.html" class="thumbs"><img src="_img/_slides/5640_wpm_hires.jpg" alt="ALT TEXT HERE"></a>
          A short description of the textbook will be placed here. <br>
        </div>
        <div class="column-button-s">
          <a href="project1.html" title="Portfolio">Details</a>
        </div><!-- end column-button-s -->
      </div><!-- end column-book -->


    </div> <!-- end column large -->
    <div class="clearfloat"></div>
  </div><!-- end main -->

}
