@(message: String)(booklist: java.util.ArrayList[Books])
@main(title = message)(loginbox = views.html.login_box.render()){
  <div class="main">

    <div class="side-left">
      <!--<h4>CATEGORIES</h4>-->
      <div class="archives">
        <form action="@routes.Search.doSearch()" method="post">
          <input name="booksearch" type=hidden value="Category 1">
          <button type="submit" class="linkbutton">Category 1</button>
        </form>
        <form action="@routes.Search.doSearch()" method="post">
          <input name="booksearch" type=hidden value="Category 2">
          <button type="submit" class="linkbutton">Category 2</button>
        </form>
        <form action="@routes.Search.doSearch()" method="post">
          <input name="booksearch" type=hidden value="Category 3">
          <button type="submit" class="linkbutton">Category 3</button>
        </form>
        <form action="@routes.Search.doSearch()" method="post">
          <input name="booksearch" type=hidden value="Category 4">
          <button type="submit" class="linkbutton">Category 4</button>
        </form>
        <form action="@routes.Search.doSearch()" method="post">
          <input name="booksearch" type=hidden value="Category 5">
          <button type="submit" class="linkbutton">Category 5</button>
        </form>
        <form action="@routes.Search.doSearch()" method="post">
          <input name="booksearch" type=hidden value="Category 6">
          <button type="submit" class="linkbutton">Category 6</button>
        </form>
        <form action="@routes.Search.doSearch()" method="post">
          <input name="booksearch" type=hidden value="Category 7">
          <button type="submit" class="linkbutton">Category 7</button>
        </form>

      </div><!-- end archives -->
      <div class="submit-s" ><a href="/search"><h4>Search</h4></a></div>
    </div><!-- end side-left -->

    <div class="column-large">

      @for(book <- booklist){
      <div class="column-book">
        <h5>@book.title</h5>
        <div class="column-book-short">
          <img src="@routes.Assets.at("images/_slides/5640_wpm_hires.jpg")" alt="Book Cover">
          @book.description <br>
        </div>
        <form action="@routes.Search.doSearch()" method="post">
          <input name="booksearch" type=hidden value=@book.id>
          <button type="submit" style="float:left;margin-left:10%">Details</button>
        </form>

      </div><!-- end column-book -->
      }

    </div> <!-- end column large -->
    <div class="clearfloat"></div>
  </div><!-- end main -->

}
