@(message: String)
@main(title = message)(loginbox = views.html.login_box.render()){
  <div class="main">

    <div class="side-left">
      <h4>CATEGORIES</h4>
      <div class="archives">
        <a href="#">Category 1</a>
        <a href="#">Category 2</a>
        <a href="#">Category 3</a>
        <a href="#">Category 5</a>
        <a href="#">Category 6</a>
        <a href="#">Category 7</a>
        <a href="#">Category 8</a>
      </div><!-- end archives -->
      <h4><a href="categories_search.html">ADVANCED SEARCH</a></h4>
    </div><!-- end side-left -->

    <div class="column-large">

      <div class="column-book">
        <h5>Database Systems: The Complete Book</h5>
        <div class="column-book-short">
          <a href="project1.html" class="thumbs"><img src="_img/_slides/5640_wpm_hires.jpg" alt="ALT TEXT HERE"></a>
          A short description of the textbook will be placed here. <br>
        </div>
        <div class="column-button-s">
          <a href="categories_book.html" title="Portfolio">Details</a>
        </div><!-- end column-button-s -->
      </div><!-- end column-book -->

      <div class="column-book">
        <h5>Database Systems: The Complete Book</h5>
        <div class="column-book-short">
          <a href="project1.html" class="thumbs"><img src="_img/_slides/5640_wpm_hires.jpg" alt="ALT TEXT HERE"></a>
          A short description of the textbook will be placed here. <br>
        </div>
        <div class="column-button-s">
          <a href="project1.html" title="Portfolio">Details</a>
        </div><!-- end column-button-s -->
      </div><!-- end column-book -->

      <div class="column-book">
        <h5>Database Systems: The Complete Book</h5>
        <div class="column-book-short">
          <a href="project1.html" class="thumbs"><img src="_img/_slides/5640_wpm_hires.jpg" alt="ALT TEXT HERE"></a>
          A short description of the textbook will be placed here. <br>
        </div>
        <div class="column-button-s">
          <a href="project1.html" title="Portfolio">Details</a>
        </div><!-- end column-button-s -->
      </div><!-- end column-book -->

      <div class="column-book">
        <h5>Database Systems: The Complete Book</h5>
        <div class="column-book-short">
          <a href="project1.html" class="thumbs"><img src="_img/_slides/5640_wpm_hires.jpg" alt="ALT TEXT HERE"></a>
          A short description of the textbook will be placed here. <br>
        </div>
        <div class="column-button-s">
          <a href="project1.html" title="Portfolio">Details</a>
        </div><!-- end column-button-s -->
      </div><!-- end column-book -->

      <div class="column-book">
        <h5>Database Systems: The Complete Book</h5>
        <div class="column-book-short">
          <a href="project1.html" class="thumbs"><img src="_img/_slides/5640_wpm_hires.jpg" alt="ALT TEXT HERE"></a>
          A short description of the textbook will be placed here. <br>
        </div>
        <div class="column-button-s">
          <a href="project1.html" title="Portfolio">Details</a>
        </div><!-- end column-button-s -->
      </div><!-- end column-book -->
      <div class="column-book">
        <h5>Database Systems: The Complete Book</h5>
        <div class="column-book-short">
          <a href="project1.html" class="thumbs"><img src="_img/_slides/5640_wpm_hires.jpg" alt="ALT TEXT HERE"></a>
          A short description of the textbook will be placed here. <br>
        </div>
        <div class="column-button-s">
          <a href="project1.html" title="Portfolio">Details</a>
        </div><!-- end column-button-s -->
      </div><!-- end column-book -->
      <div class="column-book">
        <h5>Database Systems: The Complete Book</h5>
        <div class="column-book-short">
          <a href="project1.html" class="thumbs"><img src="_img/_slides/5640_wpm_hires.jpg" alt="ALT TEXT HERE"></a>
          A short description of the textbook will be placed here. <br>
        </div>
        <div class="column-button-s">
          <a href="project1.html" title="Portfolio">Details</a>
        </div><!-- end column-button-s -->
      </div><!-- end column-book -->
      <div class="column-book">
        <h5>Database Systems: The Complete Book</h5>
        <div class="column-book-short">
          <a href="project1.html" class="thumbs"><img src="_img/_slides/5640_wpm_hires.jpg" alt="ALT TEXT HERE"></a>
          A short description of the textbook will be placed here. <br>
        </div>
        <div class="column-button-s">
          <a href="project1.html" title="Portfolio">Details</a>
        </div><!-- end column-button-s -->
      </div><!-- end column-book -->
      <div class="column-book">
        <h5>Database Systems: The Complete Book</h5>
        <div class="column-book-short">
          <a href="project1.html" class="thumbs"><img src="_img/_slides/5640_wpm_hires.jpg" alt="ALT TEXT HERE"></a>
          A short description of the textbook will be placed here. <br>
        </div>
        <div class="column-button-s">
          <a href="project1.html" title="Portfolio">Details</a>
        </div><!-- end column-button-s -->
      </div><!-- end column-book -->


    </div> <!-- end column large -->
    <div class="clearfloat"></div>
  </div><!-- end main -->

}
