@(message: String)(implicit session: play.mvc.Http.Session)

  @main(title = message)(session){
  <div class="main">

    <div class="contact-column2">
        <!-- Map -->
      <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true" />
      </script>
	<script type="text/javascript">
		function initialize() {
			var latlng = new google.maps.LatLng(42.686663, -73.822982);
			var myOptions = {
			  zoom: 8,
			  center: latlng,
			  mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"),
		    myOptions);
		}
	</script>
      <div id="map_canvas"></div><!-- ENDS Map -->

      <h4>ADDRESS</h4>

      <p>1400 Washington Ave<br/>
        Department of Computer Science<br/>
        Albany, NY 12203<br/><br/>
        TELEPHONE - +1 518-123-4567<br/><br/></p>

    </div><!-- end column2 -->

    <div class="contact-column1" style="width:500px">

      <form name="contact" method="post" action="contact.java">

        <h2 class="page-heading"><span>Contact User or Administrator</span></h2>
        <fieldset>
          <label for="Reason" class="required"><span class="required_star"> * </span>Reason</label>
          <select name="reason" style="width: 280px; height: 30px; margin-bottom: 2%; margin-left:2%;">
            <option value="bookinformation">Questions for book information</option>
            <option value="existingorders">Questions for existing orders</option>
            <option value="ordershipment">Questions for order shipment</option>
            <option value="otherquestions">Other questions</option>
          </select>
          <label for="userID" class="required"><span class="required_star"> * </span>Username</label>
          <input type="text" name="username" maxlength="40">

          <label for="Title"> <span class="required_star"> * </span>Title</label>
          <input type="text" name="title" maxlength="60" style="width: 280px">
          <label for="Your_Message" class="required" ><span class="required_star"> * </span>Message</label>
          <textarea title="message" name="message" id="message" maxlength="2000" height="80"></textarea>
          <input type="submit" class="submit" value="SEND">
        </fieldset>
      </form><!-- ENDS form -->

      <div class="clearfloat"></div>
    </div>

  </div><!-- end main -->

}
