@(message: String)(receiver: String)(implicit session: play.mvc.Http.Session)

  @main(title = message)(session){
  <div class="main">


    <div class="contact-column1" style="width:500px">

      <form name="contact" method="post" action="@routes.Contacts.savemsg()">

        <h2 class="page-heading"><span>Send A Message</span></h2>
        <fieldset>
          <label for="Reason" class="required"><span class="required_star"> * </span>Reason</label>
          <select name="reason" style="width: 280px; height: 30px; margin-bottom: 2%; margin-left:2%;">
            <option value="Questions for book information">Questions for book information</option>
            <option value="Questions for existing orders">Questions for existing orders</option>
            <option value="Questions for order shipment">Questions for order shipment</option>
            <option value="Other questions">Other questions</option>
          </select>
          <label for="userID" class="required"><span class="required_star"> * </span>Receiver</label>
          <input type="text" name="receiver" maxlength="40" value=@receiver>

          <label for="Title"> <span class="required_star"> * </span>Title</label>
          <input type="text" name="title" maxlength="60" style="width: 280px">
          <label for="Your_Message" class="required" ><span class="required_star"> * </span>Message</label>
          <textarea title="message" name="message" id="message" maxlength="2000" height="80"></textarea>
          <input type="submit" class="submit" value="SEND">
        </fieldset>
      </form><!-- ENDS form -->

      <div class="clearfloat"></div>
    </div>

  </div><!-- end main -->

}
