@()
<div class="footer-column">
    <h4>LINKS</h4>
    <div id="tweets" class="footer-col tweet">
        <a href="https://twitter.com/esksidedesign" title="Follow us on Twitter"><img src="@routes.Assets.at("images/_icons/twitter.png")" width="32" height="32" alt="ALT TEXT HERE"></a>
        <a href="https://www.facebook.com/esksidewebdesign" title="Like our Facebook Page"><img src="@routes.Assets.at("images/_icons/facebook.png")" width="32" height="32" alt="ALT TEXT HERE"></a>
        <a href="https://plus.google.com/106955806245449786793" title="Follow us on Google+"><img src="@routes.Assets.at("images/_icons/googleplus.png")" width="32" height="32" alt="ALT TEXT HERE"></a>
        <a href="http://www.linkedin.com/pub/eskside-design/51/208/b7b" title="Follow us on Linkedin"><img src="@routes.Assets.at("images/_icons/linkedin.png")" width="32" height="32" alt="ALT TEXT HERE"></a><br/>
    </div>
    <div class="clearfloat"></div>
</div><!-- end footer-column1 -->

<div class="footer-column">
    <h4>SITE MAP</h4>
        <!-- SOCIAL MEDIA SHARE BUTTONS -->
    <div class="social">
            <!-- GOOGLE +1 -->
        <div class="gplus"><g:plusone></g:plusone></div>
            <!-- TWEET BUTTON -->
        <div class="tweet"></div>
            <!-- TWITTER FOLLOW BUTTON -->
        <div class="tweet"></div>
            <!-- FACEBOOK LIKE BUTTON -->
        <div class="fb-like"> </div>
        <div class="clearfloat"> </div>

    </div><!-- end social -->
</div>
<!-- end footer-column2 -->

<div class="footer-column last">
    <h4>CONTACT WEBSITE ADMIN</h4>
    <p>Telephone: +1 518-123-4567</p>
    <p><a href="/contact">Send E-mail &#8594;</a></p>
    <p>ADDRESS</p>
    <p>1400 Washington Ave<br/>
        Computer Science Department<br/>
        Albany, NY 12203 </p>

</div><!-- end footer-column3 -->

<div class="clearfloat"></div>

<div class="left">Copyrights &copy; ESKSIDE DESIGN Edinburgh 2013</div><!-- end left -->

<div class="right">
    <li>Template by Eskside Design</li>
    <li>Implemented by SE2015 L1T7</li>
</div><!-- end right -->

<div class="clearfloat"></div>