@(headtitle: String)
<meta charset="UTF-8">
<title>@headtitle</title>

<meta name="description" content="">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- This fixes some bugs in older versions of Internet Explorer -->

<!-- CSS STYLES -->
<link href="@routes.Assets.at("css/main.css")" rel="stylesheet" type="text/css" media="screen">
<link href="@routes.Assets.at("css/flexslider.css")" rel="stylesheet" type="text/css" media="screen">
<link href="@routes.Assets.at("css/less.css")" rel="stylesheet" type="text/css" media="screen">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->

<!-- FONTS from GOOGLE FONTS -->
<link href='http://fonts.googleapis.com/css?family=Stalemate|Merriweather|Marcellus' rel='stylesheet' type='text/css'>

<!-- FACEBOOK SCRIPT - remove if not linking facebook page-->
<style type="text/css">
.auto-style1{
vertical-align: middle;
margin-top: 2px;
margin-bottom: 2px;
}</style>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script><!-- end FACEBOOK SCRIPT -->