@(message: String)
@loginbox = {
    <form action="@routes.Account.login()" method="post" style="width: 250px; position: relative; left: 0px; top: 0px; height: 70px;">
        <div style="overflow: hidden;">
            <button type="submit" name="login" value="login" style="float: right; height: 25px; width: 70px; border: 0px;"><img src="@routes.Assets.at("images/login-button.png")" height="25" width="70" /></button>
            <input type="text" placeholder="username" name="uname" style="position: relative; left: 0px; right: 0px; top: 0px; height: 15px; width: 150px;" />
        </div>
        <div style="overflow: hidden;">
            <a href="/register" style="float: right; height: 25px; width: 70px; border: 0px;"><img src="@routes.Assets.at("images/register-button.png")" height="25" width="70" /></a>
            <input type="password" placeholder="password" name="pwd" style="position: relative; left: 0px; right: 0px; top: 0px; height: 15px; width: 150px;" />
        </div>
    </form>
    <div style="height: 20px"> <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">@Messages("playauthenticate.login.forgot.password")</a> </div>
}
@main(title = "Welcome to Store")(loginbox){
        <div class="main">
            <div class="slider-holder">
                <div class="flexslider" style="left: 131px; top: -2px; width: 692px; height: 311px">
                    <ul class="slides">

                        <li><a href="categories_book.html">
                            <img src="@routes.Assets.at("images/_slides/5625_wpm_hires.jpg")" alt="Best Sellers 1"></a>
                            <div class="flexslider-info" style="width: 409px; height: 297px">
                                <div style="width: auto; height: 263px">
                                    <h3>Book title</h3>
                                    <h4>Descriptions</h4>
                                </div>
                                <div class="flexslider-button">
                                    <a href="shoppingcart.html" title="Add">Add to cart</a>
                                </div> <!-- end button -->
                            </div><!-- end flexslider-info --></li>

                        <li><a href="categories_book.html">
                            <img src="@routes.Assets.at("images/_slides/5640_wpm_hires.jpg")" alt="Best Sellers 2"></a>
                            <div class="flexslider-info" style="width: 400px; height: 297px">
                                <div style="width: auto; height: 263px">
                                    <h3>Book title</h3>
                                    <h4>Descriptions</h4>
                                </div>
                                <div class="flexslider-button">
                                    <a href="shoppingcart.html" title="Add">Add to cart</a>
                                </div> <!-- end button -->
                            </div><!-- end flexslider-info --></li>

                        <li><a href="categories_book.html">
                            <img src="@routes.Assets.at("images/_slides/9128_wpm_hires.jpg")" alt="Best Sellers 3"></a>
                            <div class="flexslider-info" style="width: 400px; height: 297px">
                                <div style="width: auto; height: 263px">
                                    <h3>Book title</h3>
                                    <h4>Descriptions</h4>
                                </div>
                                <div class="flexslider-button">
                                    <a href="shoppingcart.html" title="Add">Add to cart</a>
                                </div> <!-- end button -->
                            </div><!-- end flexslider-info --></li>


                        <div class="clearfloat"></div>
                    </ul>
                </div><!-- end flexslider -->
            </div><!-- end slider-holder -->

            <div class="clearfloat"></div>
        </div><!-- end main -->

}

