@(message: String)
@main(title = message)(loginbox = views.html.login_box.render()){
    <div class="main" id="home">
        <div class="slider-holder">
            <div class="flexslider" style="left: 131px; top: -2px; width: 692px; height: 311px">
                <ul class="slides">

                    <li><a href="categories_book.html">
                        <img src="@routes.Assets.at("images/_slides/5625_wpm_hires.jpg")" alt="Best Sellers 1"></a>
                        <div class="flexslider-info" style="width: 409px; height: 297px">
                            <div style="width: auto; height: 263px">
                                <h3>Book title</h3>
                                <h4>Descriptions</h4>
                            </div>
                            <div class="flexslider-button">
                                <a href="shoppingcart.html" title="Add">Add to cart</a>
                            </div> <!-- end button -->
                        </div><!-- end flexslider-info --></li>

                    <li><a href="categories_book.html">
                        <img src="@routes.Assets.at("images/_slides/5640_wpm_hires.jpg")" alt="Best Sellers 2"></a>
                        <div class="flexslider-info" style="width: 400px; height: 297px">
                            <div style="width: auto; height: 263px">
                                <h3>Book title</h3>
                                <h4>Descriptions</h4>
                            </div>
                            <div class="flexslider-button">
                                <a href="shoppingcart.html" title="Add">Add to cart</a>
                            </div> <!-- end button -->
                        </div><!-- end flexslider-info --></li>

                    <li><a href="categories_book.html">
                        <img src="@routes.Assets.at("images/_slides/9128_wpm_hires.jpg")" alt="Best Sellers 3"></a>
                        <div class="flexslider-info" style="width: 400px; height: 297px">
                            <div style="width: auto; height: 263px">
                                <h3>Book title</h3>
                                <h4>Descriptions</h4>
                            </div>
                            <div class="flexslider-button">
                                <a href="shoppingcart.html" title="Add">Add to cart</a>
                            </div> <!-- end button -->
                        </div><!-- end flexslider-info --></li>


                    <div class="clearfloat"></div>
                </ul>
            </div><!-- end flexslider -->
        </div><!-- end slider-holder -->

        <div class="clearfloat"></div>
    </div><!-- end main -->


}
