@(message: String)(booklist: java.util.ArrayList[Books])(implicit indexuser: Users)

    @main(title = message)(user = indexuser){
        <div class="main" id="home">
            <div class="slider-holder">
                <div class="flexslider" style="left: 131px; top: -2px; width: 692px; height: 311px">
                    <ul class="slides">
                    @for(book <- booklist){

                        <li><a href="categories_book.html">
                            <img src="@routes.Assets.at("images/_slides/5625_wpm_hires.jpg")" alt="Best Sellers 1"></a>

                            <div class="flexslider-info" style="width: 409px; height: 297px">
                                <div style="width: auto; height: 250px; overflow:hidden;">
                                    <h3>Top Sellers</h3>
                                    <h4>Title: @book.title</h4><p>Description: @book.description</p>
                                </div>
                                <div class="flexslider-button">
                                    <form method="post" action="@routes.Search.getbooks()">
                                        <input name="id" type=hidden value=@book.id.toHexString()>
                                        <button type="submit" style="float:left; margin-left:10%">Details</button>
                                    </form>
                                </div> <!-- end button -->

                            </div><!-- end flexslider-info --></li>
                    }

                        <div class="clearfloat"></div>

                    </ul>
                </div><!-- end flexslider -->
            </div><!-- end slider-holder -->

            <div class="clearfloat"></div>
        </div><!-- end main -->


    }
