@(title: String)(loginbox: Html = views.html.login_box.render())(content: Html)

<!doctype html>
<html class="no-js">
    <head>
        @head(headtitle = title)
    </head>

    <body lang="en">
        <div class="wrapper1">
            <header>
            @header(loginbox = loginbox)
            </header>
        </div><!-- end wrapper1 -->

        <nav>
        @nav()
        </nav>

        @content

        <div class="wrapper2">
            <footer>
            @footer()
            </footer>
        </div><!-- end wrapper2 -->

    </body>
    @scripts()
</html>