@(message: String)(msglist: java.util.ArrayList[ContactMsg])(implicit session: play.mvc.Http.Session)

@main(title = message)(session){
    <div class="main" style="height: 500px; float:none;">
    @if(session.get("username") == null) {
        <h2 class="page-heading"><span>@message</span></h2>

        <form action="@routes.Account.dologin()" method="post" style="width: 250px; height: 70px; float: none;">
            <input type="text" placeholder="username" name="uname" style="height: 15px; width: 150px;" />
            <input type="password" placeholder="password" name="password" style="height: 15px; width: 150px;" />
            <button type="submit" name="login" value="login" style="margin-left:10%; height: 25px; width: 70px; border: 0px;"><img src="@routes.Assets.at("images/login-button.png")" height="25" width="70" /></button>
            <a href="@routes.Account.register()" style="height: 25px; width: 70px; border: 0px;"><img src="@routes.Assets.at("images/register-button.png")" height="25" width="70" /></a>
            <br>
            <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">@Messages("")</a>
        </form>
    }else{
        <div class="side-left">
        @account_sider(session)
        </div>
        <div class="column-large">
            <h2 class="page-heading"><span>@message</span></h2>
            <br>
            @if(msglist.size() > 0){
                <table style="text-align : center" border="1px">
                    <tr>
                        <td style="width:200px;overflow: hidden;"><h5>Message</h5></td>
                        <td style="width:80px;"><h5>Receiver</h5></td>
                        <td style="width:150px;"><h5>Date</h5></td>
                        <td style="width:35px"><h5>Action</h5></td>

                    </tr>
                    @for(msg <- msglist) {
                        <tr>

                            <td>@msg.subject</td>
                            <td>
                                <form action="@routes.Account.userinfo()" method="get" style="width:70px;float:left;">
                                    <input name="seller" type=hidden value="@msg.receiverid">
                                    <button type="submit" class="linkbutton">@msg.receiverid</button>
                                </form>
                            </td>
                            <td>@msg.sdate</td>
                            <td>
                                <form method="get" action="@routes.Contacts.contact()" style="width:30px">
                                    <input type="hidden" name="receiver" value=@msg.receiverid >
                                    <button type="submit"> Contact </button>
                                </form>
                                <form method="post" action="@routes.Contacts.delete()" style="width:30px">
                                    <input type="hidden" name="id" value=@msg.id.toString>
                                    <button type="submit"> Delete </button>
                                </form>
                            </td>

                        </tr>
                    }


                </table>
            }

            <div lass="clearfloat"></div>
        </div>
    }
    </div><!-- end main -->

}
