@(message: String)
  @main(title = message)(loginbox = views.html.login_box.render()){
  <div class="main">
    <div class="thank-you-message">
      <h2 class="page-heading"><span>YOUR EMAIL WAS SENT SUCCESSFULLY</span></h2>
      <p>The receiver will be in touch with you very soon. You will now be redirected to our home page or if you are impatient like me click &quot;HOME&quot;</p>
      <div class="column-button"><a href="http://www.esksidedesign.co.uk">HOME &#8594;</a></div><!-- end button -->
    </div><!-- end thank-you-message -->
  </div><!-- end main -->

}
