@(message: String)(book: Books)(implicit session: play.mvc.Http.Session)

  @main(title = message)(session){
  <div class="main" style="height:500px;">

    <div class="side-left">
        <!--<h4>CATEGORIES</h4>-->
      <div class="archives">
          @category_sider(session)
      </div><!-- end archives -->
      <div class="submit-s" ><li><a href="/search"><h4>Search</h4></a></li></div>

    </div><!-- end side-left -->

    <div class="column-large">

      <h3 class="page-heading"><span>BOOK DETAILS</span></h3>
      <div class="category">
        <img src="@routes.Assets.at("images/_icons/icon-tags.png")" width="20" height="20">
        Category @book.category.toString()
      </div>
      <div class="postee">Authors: @book.authors</div>
      <div class="date">Edition: @book.edition</div>
      <div class="date">ISBN: @book.isbn</div>
      <div class="date">Price: $@book.price</div>
      <div class="date">Shipping: $@book.shippingfee</div>
      <div class="date">Sold by @book.seller</div>


      <div class="clearfloat"></div>

      <a class="thumbs"><img src="@routes.Assets.at("images/productpics/" + book.id.toHexString() + ".jpg")" alt="Book Picture" style="float:right;margin-bottom:20px;"></a>
      <h3>BOOK TITLE</h3>
      <p>@book.description</p>

    </div>


    <div class="clearfloat">
      <form action="@routes.Cart.add()" method="post">
        <input name="quantity" type="text" value="1" style="float:left; margin-left:50%;width:30px;">
        <input name="bookid" type="hidden" value=@book.id>
        <button type="submit" class="submit" style="float:left; margin-left:50%">Buy</button>

      </form>
    </div>
  </div><!-- end main -->


}
