@(message: String)(implicit session: play.mvc.Http.Session)

  @main(title = message)(session){
  <div class="main" style="left:50%">

    <form name="rate" method="post" action="rate.java" style="float:left; width:90%;">
      <div class="freecontactform">
        <h2 class="page-heading"><span>Rate a Transaction/Order</span></h2>
        <fieldset>
          <label for="Rating" class="required"><span class="required_star"> * </span>Rating</label>
          <select name="star" style="width: 280px; height: 30px; margin-left:2%;">
            <option value="1">1 Star</option>
            <option value="2">2 Stars</option>
            <option value="3">3 Stars</option>
            <option value="4">4 Stars</option>
            <option value="5">5 Stars</option>
          </select>
          <label for="Your_Message" class="required" ><span class="required_star"> * </span>Comments</label>
          <textarea title="comment" name="comment" maxlength="1000" height="80"></textarea>
          <input type="submit" class="submit" value="SEND">
        </fieldset>

      </div><!-- end freecontactform -->

    </form><!-- ENDS form -->

    <div class="clearfloat"></div>

  </div><!-- end main -->

}
