@(message: String)
  @main(title = message)(loginbox = views.html.login_box.render()){
  <div class="main">
    <div class="thank-you-message">
      <h2 class="page-heading"><span>ORDER PLACED SUCCESSFULLY</span></h2>
      <p>Thank you for shopping with us. A confirmation E-mail will be sent to your
        E-mail address soon. You will now be redirected to our home page or if you are impatient like me click &quot;HOME&quot;</p>
      <div class="column-button"><a href="index.html">HOME</a></div><!-- end button -->
    </div><!-- end thank-you-message -->
  </div><!-- end main -->

}
