@(message: String)(user: Users)(implicit session: play.mvc.Http.Session)

@main(title = message)(session){
    <div class="main" style="height: 500px; float:none;">
        @if(session.get("username") == null) {
            <h2>@message</h2> <br>
            <form action="@routes.Account.dologin()" method="post" style="width: 250px; height: 70px; float: none;">
                <input type="text" placeholder="username" name="uname" style="height: 15px; width: 150px;" />
                <input type="password" placeholder="password" name="password" style="height: 15px; width: 150px;" />
                <button type="submit" name="login" value="login" style="margin-left:10%; height: 25px; width: 70px; border: 0px;"><img src="@routes.Assets.at("images/login-button.png")" height="25" width="70" /></button>
                <a href="@routes.Account.register()" style="height: 25px; width: 70px; border: 0px;"><img src="@routes.Assets.at("images/register-button.png")" height="25" width="70" /></a>
                <br>
                <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">@Messages("")</a>
            </form>
        }else{

            <div class="column-full">
                <h2 class="page-heading"><span>Account Profiles</span></h2>
                <img src="@routes.Assets.at("images/profilepics/" + user.id.toHexString + ".jpg")" style="float : left ; height : auto ; width : 100px" />

                <table class="clearfloat" style="text-align : left">
                    <tr>
                        <td>First Name:</td>
                        <td>@user.fname</td>
                    </tr>

                    <tr>
                        <td>Last Name:</td>
                        <td>@user.lname</td>
                    </tr>

                    <tr>
                        <td>Username:</td>
                        <td>@user.uname</td>
                    </tr>

                    <tr>
                        <td>Account created on:</td>
                        <td>@user.cdate</td>
                    </tr>

                    <tr>
                        <td>Phone Number:</td>
                        <td>@user.mob</td>
                    </tr>

                    <tr>
                        <td>E-mail Address:</td>
                        <td>@user.email</td>
                    </tr>

                    <tr>
                        <td>Address:</td>
                        <td>Hidden</td>
                    </tr>
                </table>
                <form name="contact" method="get" action="">
                    <button type="submit" name="contact" value="contact" class="submit" style="float:left;width:auto;margin-left:5px"> Contact </button>
                </form>
                <div lass="clearfloat"></div>
            </div>
        }
    </div><!-- end main -->

}
